body {
  background-color: #201636;
}

:root {
  --font-montserrat: "Montserrat", sans-serif;
}

div {
  font-family: var(--font-montserrat);
  color: #ffffff;
}

.container1 {
  background-image: url(./images/Картинка\ 2.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0% 0%;
  height: 767px;
  /* position: absolute; */
  /* left: 61px;
  top: 238px; */
  /* display: inline-block;
  align-self: right; */
  /* text-align: right; */
}

.cont11 .cont12 .cont13 {
  position: absolute;
}

.start {
  float: left;
  width: auto;
}
.booking {
  background-color: #f09f0c;
  position: absolute;
  width: 300px;
  height: 56px;
  font-family: var(--font-montserrat);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  /* text-align: justify; */
}
.block {
  float: left;
}

/* .cont11 {
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 4rem;
} */

.cont13 {
  display: inline-block;
  font-weight: 700;
  width: 670px;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.container3 {
  background-image: url(./images/Знак\ вопроса.png);

  background-image: url(./images/Мужчина.png);
  background-repeat: no-repeat;
}
.bold {
  font-weight: 400;
}

.career {
  color: #f09f0c;
  font-size: 36px;
  font-weight: 900;
}

li::before {
  content: "";
  width: 26px;
  height: 24px;
  display: inline-block;
  background-image: url(./images/Arrow.png);
  background-repeat: no-repeat;
}

li {
  list-style-type: none;
  list-style-position: outside;
}
